[project]
name = "yogapy"
description = "Python bindings for Facebook Yoga with bundled native libraries"
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [{ name = "Taylor McRae" }]
dynamic = ["version"]

dependencies = [
    "cffi>=1.16",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
yogapy = [
    "_native/linux/*",
    "_native/macos/*",
    "_native/windows/*",
]

# Tell setuptools to read the version from your version.py file
[tool.setuptools.dynamic]
version = { attr = "yogapy.version.__version__" }

[tool.semantic_release]
version_variable = "src/yogapy/version.py:__version__"
upload_to_pypi = false
upload_to_release = true
build_command = "pip install build && python -m build"