[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "yogapy"
version = "0.1.0"
description = "Fast Yoga layout engine for e-ink displays"
readme = "README.md"
authors = [{ name = "Taylor McRae" }]
requires-python = ">=3.9"

[tool.scikit-build]
cmake.args = [
    "-DYOGA_BUILD_C=ON",
    "-DYOGA_BUILD_SHARED=OFF",
    "-DCMAKE_POSITION_INDEPENDENT_CODE=ON"
]
wheel.install-dir = "yogapy"
